SnapOperationQueue.xcodeproj/project.xcworkspace/xcuserdata
SnapOperationQueue.xcodeproj/xcuserdata
Podfile.lock
Pods
SnapOperationQueue.xcodeproj/xcuserdata/niklas.xcuserdatad/xcschemes/SnapOperationQueue.xcscheme
SnapOperationQueue.xcworkspace/xcuserdata
.idea
